@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

body {margin:25px;}

.header5 {
    position: relative;
    top:0px;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 5px 1px;
    margin-bottom: 40px;

  }

a{
    text-decoration: none;
}

.menu5 {
    position: relative;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 100px;
    justify-content: space-around;
}


.menu5 li {
    display: block;
    height: 100%;
    margin-right: 30px;
    font-size: 20px;
    position: relative;
    display: flex;
    align-items: center;
    color: #000000;
    text-transform: uppercase;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }


.menu5 li:after,
.menu5 li:before {
  content: "";
  position: absolute;
  width: 0%;
  display: block;
  height: 1px;
  transition: all 0.3s ease;
  margin-top: 2px;
  transition: all 300ms ease-in;
}

.menu5 li:after {
  bottom: -25%;
  left: 0;
}

.menu5 li:before {
  top: -25%;
  right: 0;
}

.menu5 li:hover::after {
  width: 100%;
  height: 1px;
  bottom: -25%;
  background-color: #000000;
}
.menu5 li:hover::before {
  width: 100%;
  height: 1px;
  top: -25%;
  background-color: #000000;
}

.active li:after {
    width: 100%;
    height: 1px;
    bottom: -25%;
    background-color: #000000;
  }
.active li:before {
    width: 100%;
    height: 1px;
    top: -25%;
    background-color: #000000;
}

.heading{
    font-size: 30px;
    text-align: center;
}
div.set{
    position: relative;
    top: 20px;
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 500px;
}

div.polaroid {
    width: 14%;
    background-color: white;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 16px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
  }

.polaroid:hover{
    transform: scale(1.1);
}

div.container {
    text-align: center;
    padding: 5px 10px;
  }

.products .heading{
    font-size: 28px;
    text-align: center;
}

.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-left: 100px;
}

.products .box-container .box{
    flex: 0 0 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .1);
    border-radius: 8px;
    border: 1.6px solid rgba(0, 0, 0, .1);
    position: relative;
}

.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 32px;
    overflow: hidden;
}

.products .box-container .box .image img{
    height: 320px;
}

.products .box-container .box:hover .image img{
    transform: scale(1.1);
}

.products .box-container .box .image .icons{
    position: absolute;
    bottom: -112px; left: 0; right: 0;
    display: flex;
}

.products .box-container .box:hover .image .icons{
    bottom: 0;
}

.products .box-container .box .image .icons a{
    height: 80px;
    line-height: 80px;
    font-size: 24px;
    width: 50%;
    background: var(--pink);
    color: #000000;
    width: 100%;
}

.products .box-container .box .image .icons a:hover{
    background: #4e4e4e;
}

.products .box-container .box .content{
    padding: 32px;
    text-align: center;
}

.products .box-container .box .content h3{
    font-size: 18px;
    color: #333;
}

.contain{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}

.footer{
    background-color: #dfdbdb;
    padding: 70px 0;
}
.footer-col{
    width: 20%;
    padding: 0 15px;
}
.footer-col h2{
    font-size: 21px;
    color: #333333;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){  
    margin-bottom: 10px; 
}
.footer-col ul li a{   
    font-size: 20px;
    text-transform: capitalize;
    color: #333333;
    text-decoration: none;
    font-weight: 300;
    color: #333333;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #333333;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 696px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
}
}
@media(max-width: 362px){
    .footer-col {
        width: 100%;
}
}